*{
  margin:0;
  padding:0;
  box-sizing:border-box;
} 
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333; /* Dark background */
  color: white; /* Text color */
  position: sticky; /* Keeps header at top */
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Adds depth */
}





  
